body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f7f7f7;
}

header {
    background-color: #2E8B57;
    color: white;
    padding: 40px 0;
}

section {
    padding: 20px 10px;
}

h1, h2 {
    margin: 20px 0 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #d1f0d1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #2E8B57;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
